html {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Tahoma, Arial, Varana;
	font-size: 12px;
}
body {
	color: #000;
	font-family: Tahoma, Arial, Varana;
	font-size: 12px;
}
a {
	text-decoration: none;
}
img {border:none;}

/************** #wrapper *************/
#wrapper {
	margin: 0 auto;
	width: 1010px;
	display:block;
}
.clear {
	clear: both;
}
#heading {
	height: 75px;
	margin-bottom: 20px;
}
#heading .box_left {
	float: left;
	width: 260px;
}
#heading .box_right {
	float: right;
	text-align: right;
	width: 740px;
	height: 70px;
	padding-top: 5px;
	font-size: 12px;
	background: url(../images/heading_line.png) no-repeat bottom left;
}
#heading .box_right a:hover {
	color: #f89820;
}
#heading .box_right a {
	color: #000;
	text-decoration: none;
}
#heading .box_right a.active {
	color: #0072bc;
}
#heading .box_right .support {
	float: left;
	margin-left: 20px;
}
#heading .box_right .nav {
	width: 530px;
	padding-top: 15px;
	float: left;
}
#logo {
	width: 160px;
	height: 55px;
}
.slogan {
	color: #0072bc;
	font-size: 11px;
	font-style: italic;
	font-family: Arial, Tahoma;
}
.support select {
	margin-bottom: 5px;
}
.form_search .select {
	width: 265px;
	overflow: hidden;
}
.support .select {
	width: 135px;
	margin-bottom: 8px;
	overflow: hidden;
}
.select_small {
	background: url(../images/select_bg_small.png) no-repeat;
	border: 0;
	width: 152px;
	overflow: hidden;
	height: 22px;
	padding-left: 35px;
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 2px;
}
.select_large {
	background: url(../images/select_bg_large.png) no-repeat;
	border: 0;
	width: 267px;
	height: 30px;
	padding-left: 90px;
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 5px;
	margin-left: 15px;
}

/* BOX SEARCH */
#box_search .inside, #box_search_large .inside {
	background-color: #e6edf6;
	border: 0;
	border-top: 1px solid #969090;
	border-left: 1px solid #969090;
	width: 1000px;
	height: 140px;
	box-shadow: 3px 3px 3px #969090;
	z-index: 100;
}
#box_search_large {
	height: 332px;
}
#box_search {
	height: 150px;
}
#menu {	
	height: 35px;
	background-color: #779bca;
}
#menu ul {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
#menu ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	line-height: 32px;
	height: 42px;
	padding: 0 10px 0 0;
	display: block;
}
#menu ul li a:hover {
	color: #edab59;
}
#menu ul li {
	list-style-type: none;
	float: left;
	padding: 0 13px;
	line-height: 32px;
	height: 42px;
	/*background: url(../images/down.png) no-repeat right 15px;*/
}
#menu ul .active a {
	background: url(../images/nav_active_right.png) no-repeat right top;
}
#menu ul .active {
	background: url(../images/nav_active_left.png) no-repeat top left;
}

/* FORM SEARCH */
.form_search {
	margin: 10px 5px;	
}
.keyword {
	float: left;
	width: 477px;
}
.keyword input {
	width: 477px;
	height: 30px;
	background: url(../images/textbox_bg.png) no-repeat;
	border: 0;
}
.form_search .select {
	float: left;
}
.form_search .btn_search:hover {
	color: #000;
}
.form_search .btn_search {
	background: url(../images/btn_search.png) no-repeat;
	width: 75px;
	height: 30px;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma, Arial, Varana;
	font-size: 12px;
	cursor: pointer;
}
.form_search .btn_search_other:hover{
	color: #000;
}
.form_search .btn_search_other{
	cursor: pointer;
	background: url(../images/btn_search_other.png) no-repeat;
	width: 164px;
	height: 30px;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma, Arial, Varana;
	font-size: 12px;
}
.recent a:hover {
	color: #f89820;
}
.recent a {
	text-decoration: none;
	color: #000;
}
.recent {
	font-style: italic;
	font-family: Arial, Tahoma, Vadarna;
}
.recent img {
	vertical-align: middle;
	margin-left: 10px;
}

/* CONTENT */
#content {
	margin: 20px 0;
}
#main {
	width: 710px;
	float: left;
}
.sidebar {
	float: left;
	width: 290px;
	margin-left: 5px;
}
.head {
	height: 34px;
}
.head .inner {
	background: url(../images/heading_bg_left.png) no-repeat left top;
	height: 34px;
	float: left;
}
.head .title {
	background: url(../images/heading_bg_right.png) no-repeat right top;
	height: 34px;
	font-weight: bold;
	color: #fff;
	float: left;
	padding: 5px 15px 0 5px;
	margin-left: 20px;
}
.sidebar .light {
	background: url(../images/btn_light.png) no-repeat;
	width: 140px;
	height: 26px;
	float: left;
	margin: 6px 2px;
	text-align: center;
}
.sidebar .blue {
	background: url(../images/btn_blue.png) no-repeat;
	width: 138px;
	height: 33px;
	float: left;
	margin: 6px 2px;
	text-align: center;
}
.sidebar .light a:hover, .sidebar .blue a:hover {
	color: #f89820;
}
.sidebar .light a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	line-height: 25px;
	font-size: 11px;
}
.sidebar .blue a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	line-height: 25px;
	font-size: 11px;
}
.sidebar .row {
	display: block;
}
.box_featured {
	margin: 10px 0;
}
.box_featured .title {
	background: url(../images/right_heading.png) no-repeat;
	width: 287px;
	height: 35px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	padding-top: 3px;
}
.box_item .item:hover {
	background: url(../images/featured_bg_active.png) no-repeat;
	cursor: pointer;
}
.box_item .item img {
	padding: 10px;
}
.box_item .item {
	width: 120px;
	height: 120px;
	background: url(../images/featured_bg.png) no-repeat;
	margin: 5px 10px;
	float: left;
}
.box_list .list a:hover {
	color: #f89820;
}
.box_list .list a {
	text-decoration: none;
	color: #000;
}
.box_list .list {
	float: left;
	width: 330px;
	font-size: 14px;
	padding-left: 20px;
	font-weight: bold;
	margin: 3px 0;
	font-family: Tahoma, Arial;
	background: url(../images/list_arrow.png) no-repeat left 8px;
}

/* FOOTER */
#footer {
	margin: 20px 0;
	text-align: center;
}
.box_list .list .light {
	font-weight: normal;
}
.lang img {
	width: 20px;
	vertical-align: middle;	
}
#footer .nav .box_nav {
	width: 1010px;
	margin: 0 auto;
}
#footer .nav {
	margin: 0 auto;
	background-color: #779bca;
	height: 30px;
	color: #fff;
	text-align: left;
}
#footer .nav ul li a:hover {
	color: #f89820;
}
#footer .nav ul li a {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
#footer .nav ul li {
	list-style-type: none;
	float: left;
	padding: 6px 3px;
}
#footer .box_detail {
	text-align: left;
	font-size: 14px;
	color: #000000;
	background-color: #e6edf6;
	padding: 15px;
}
#footer .detail a:hover {
	color: #f89820;
}
#footer .detail a {
	text-decoration: none;
	color: #000000;
}
#footer .detail .left {
	float: left; width: 482px;
}
#footer .detail .right img {
	vertical-align: middle;
}
#footer .detail .right {
	float: right;
	font-size: 12px;
	text-align: right;
}
#footer .detail {
	width: 1000px;
	margin: 0 auto;	
}
#breadcrumbs a:hover {
	color: #f89820;
}
#breadcrumbs a {
	color: #000; font-size: 12px; text-transform: none;
}
.page_title {
	color: #fff;
	background-color: #779BCA;
	height: 20px;
	width: 100%;
	margin: 10px 0;
	padding: 8px;
	font-size: 16px;
	font-weight: bold;
	display: block;
}

/* ACCOUNT CONTENT */
#account_content .info .right {
	float: left;
}
#account_content .info input {
	width: 80px;
	text-align: center;
}
#account_content .info .left {
	width: 600px;
	float: left;
}
#account_content .data table {
	border: 1px solid gray;
}
#account_content .data table th .sub {
	font-size: 11px;
	font-style: italic;
	color: #000;
	font-weight: normal;
}
#account_content .data table th {
	border: 1px solid #2396d3;
	border-left: none;
	border-top: none;
	height: 50px;
	background-color: #d4dce5;
	color: #3a88c8;
	font-size: 14px;
}
#account_content .data table td {
	text-align: center;
	height: 28px;
	border-top: none;
	border-bottom: none;
	border-left: none;
}
#account_content .data table .no_border {
	border-right: 0;
	border-left: 0;
}

/* TRANSLATE CONTENT */
#translate_content span {
	border-bottom: 2px dotted gray;
}
#translate_content a:hover {
	color: #f89820;
}
#translate_content a {
	color: #000;
}
#translate_content a.note:hover {
	color: #f89820;
}
#translate_content a.note {
	text-decoration: underline;
	color: #3a88c8;
	font-style: italic;
}
#translate_content .status img {
	vertical-align: middle;
}
#translate_content .status {
	text-align: center;
}
#translate_content .data .sub_nav {
	width: 100%;
	border-bottom: 1px solid gray;
}
#translate_content .data .sub_nav ul {
	padding: 0;
	height: 10px;
}
#translate_content .data .sub_nav ul .last {
	border: none;
}
#translate_content .data .sub_nav ul li  a:hover {
	color: #f89820;
}
#translate_content .data .sub_nav ul li  a {
	color: #4790cc;
}
#translate_content .data .sub_nav ul li  {
	list-style-type: none;
	float: left;
	padding: 0 5px;
	border-right: 1px solid #4790cc;
	color: #4790cc;
	font-weight: bold;
	font-size: 11px;
}
#translate_content .box_data .box_right .green {
	color: #0DA617;
}
#translate_content .box_data .box_right .notice {
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	margin: 3px 0;
}
#translate_content .box_data .box_right .message {
	font-style: italic;
	font-size: 13px;
	color: #3989c9;
	margin: 10px 0 5px 0;
	font-weight: normal;
}
#translate_content .box_data .box_right .company {
	color: #3989c9;
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
}
#translate_content .box_data .box_right  a:hover {
	color: #f89820;
}
#translate_content .box_data .box_right  a {
	text-decoration: underline;
	color: #3989c9;
	font-size: 12px;
	font-weight: bold;
}
#translate_content .box_data .box_right .right  {
	text-align: right;
	padding-right: 20px;
	border: none;
}
#translate_content .box_data .box_right .send  {
	padding-left: 10px;
}
#translate_content .box_data .box_right .send a:hover {
	color: #f89820;
}
#translate_content .box_data .box_right .send a {
	float:right;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}
#translate_content .box_data .box_right .title {
	font-size: 18px;
	color: #414042;
	font-weight: bold;
}
#translate_content .box_data .box_right {
	float: left;
	font-weight: bold;
	width: 305px;
	margin-left: 10px;
	font-size: 11px;
}
#translate_content .box_data .box_left .item {
	background: url(../images/box_border.png) no-repeat bottom left;
	margin: 10px 0;
}
#translate_content .box_data .box_left .item .item_action {
	float: left;
}
#translate_content .box_data .box_left .item .item_info .detail {
	padding-left: 25px;
	font-weight: normal;
	font-size: 13px;
}
#translate_content .box_data .box_left .item .item_info a:hover {
	color: #f89820;
}
#translate_content .box_data .box_left .item .item_info a {
	color: #3989C9;
}
#translate_content .box_data .box_left .item .item_info {
	width: 530px;
	float: left;
}
#translate_content .box_data .box_left .item_info .title input {
	border: 1px solid #3989c9;
	width: 15px;
	height: 15px;
}
#translate_content .box_data .box_left .item_info .title {
	font-size: 14px;
	color: #3989c9;
	font-weight: bold;
}
#translate_content .box_data .box_left {
	width: 670px;
	height: 360px;
	float: left;
}
#translate_content .box_data {
	border: 1px solid gray;
	box-shadow: 3px 3px 3px #969090;
	padding: 10px;
}
#translate_content .item_action a:hover {
	color: #f89820;
}
#translate_content .item_action a {
	background: url(../images/item_action.png) no-repeat;
	width: 100px;
	padding: 2px 0 10px;
    text-align: center;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

/* SEARCH */
#search {
	height: 162px;
	background: #ffefce url(../images/box_search_bg.png) no-repeat top left;
	width: 980px;
	z-index: 10;
	border: 1px solid #3d5964;
	border-top: 0;
	box-shadow: 3px 3px 3px #969090;
	padding: 10px;
}
#search img {
	vertical-align: middle;
}
#search .condition {
	color: #4685ba;
	font-size: 14px;
	font-weight: bold;
}
#search .select {
	width: 288px;
	overflow: hidden;
}
#search .flag {
	float: left;
	padding-top: 6px;
	margin-left: 10px;
}
#search .lang {
	width: 155px;
	overflow: hidden;
	float: left;
}
#search .lang .s_input {
	width: 175px;
	height: 30px;
	background: url(../images/lang_select.png) no-repeat;
	border: 0;
	padding-top: 5px;
	font-family: Tahoma;
	font-size: 13px;
}
#search .s_input {
	width: 305px;
	height: 30px;
	background: url(../images/text_search_bg.png) no-repeat;
	border: 0;
	padding-top: 5px;
	font-family: Tahoma;
	font-size: 13px;
}
#result .select_order {
	width: 288px;
	overflow: hidden;
	float: right;
	display: inline;
	margin-right: 20px;
}
#result .select_order .s_input {	
	width: 305px;
	height: 30px;
	background: url(../images/text_search_bg.png) no-repeat;
	border: 0;
	padding-top: 5px;
	font-family: Tahoma;
	font-size: 13px;
}
#search .price {
	width: 90px;
	background-color: #eff8ff;
	border: 1px solid #8f877e;
	height: 22px;
}
#search table tr td {
	padding: 3px 15px;
}
#search .submit {
	border: 0;
	background: url(../images/button_search.png) no-repeat;
	width: 64px;
	height: 34px;
	margin-left: 5px;
	margin: 0;
	padding: 0;
}
.mar_b_5 {
	margin-bottom: 5px;
}
#result .action img {
	vertical-align: middle;
}
#result .action {
	width: 100%;
	height: 30px;
	background-color: #e6edf7;
	width: 1000px;
	padding: 10px;
}
#result .action .go {
	background: url(../images/go.png) no-repeat;
	border: 0;
	width: 80px;
	height: 33px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
#result .action .checkbox {
	background: url(../images/checkbox_bg.png) no-repeat;
	width: 15px;
	height: 18px;
	vertical-align: middle;
}
#result .records .even {
	background-color: #e6edf7;
}
#result .item a:hover {
	color: #f89820;
}
#result .item {
	height: 130px;
	padding: 10px 0;
}
#result .item .thumb a:hover img {
	border: 2px solid yellow;
}
#result .item .thumb {
	width: 120px;
	float: left;
}
#result .item .info .title .hightlight {
	font-style: italic;
	color: #aa3c45;
}
#result .item .info a:hover {
	color: #f89820;
}
#result .item .info a {
	color: #46778f;
	font-size: 14px;
}
#result .item .info {
	width: 600px;
	float: left;
}
#result .item .other .company a:hover {
	color: #f89820;
}
#result .item .other .company a {
	color: #46778f;
	font-style: normal;
}
#result .item  .other .comment {
	font-style: normal;
}
#result .item .other .company {
	color: #46778f;
}
#result .item .other img {
	vertical-align: middle;
}
#result .item .other a {
	color: #000;
	font-style: italic;
}
#result .item .other {
	float: left;
	width: 250px;
}
.paging {
	float: right;
}
.paging ul li a:hover {
	color: #f89820;
}
.paging ul li a {
	color: #fff;
	font-weight: bold;
}
.paging ul .first, .paging ul .last {
	
}
.paging ul li {
	list-style-type: none;
	float: left;
	background-color: #728dc6;
	padding: 3px 5px;
	margin: 2px;	
}
.sub_menu ul {
	height: 30px;
}
.sub_menu ul  li.active {
	background: url(../images/sub_menu_left.png) no-repeat top left;
}
.sub_menu ul  li {
	margin: 0 3px;
	padding: 0 0 0 17px;
	list-style-type: none;
	float: left;
	background: url(../images/sub_menu_left_n.png) no-repeat top left;
	height: 35px;
}
.sub_menu ul  li a:hover {
	color: #f89820;
}
.sub_menu ul  li.active a {
	background: url(../images/sub_menu_right.png) no-repeat right top;
	color: #fff;
}
.sub_menu ul  li a {
	background: url(../images/sub_menu_right_n.png) no-repeat right top;
	padding: 0 15px 0 0;
	height: 35px;
	display: block;
	line-height: 25px;
	color: #000;
	font-weight: bold;
}

/* BOX CONTENT MY ACCOUNT */
.box_content .sidebar {
	width: 225px;
	float: left;
}
.box_content .sidebar .sidemenu {	
	background-color: #e6edf6;
	width: 215px;
}
.box_content .sidebar .sidemenu .title {
	background: url(../images/view_detail_bg.png) no-repeat;
	height: 20px;
	font-weight: bold;
	padding: 5px 15px;
	color: #fff;
}
.box_content .sidebar .sidemenu .yellow {
	background: url(../images/view_detail2_bg.png) no-repeat;
}
.box_content .sidebar .sidemenu ul {
	border: 1px solid #bda9a9;
	border-top: 0;
	margin: 0;
	padding: 0;
	background-color: #e6edf6;
}
.box_content .sidebar .sidemenu ul li a:hover {
	color: #f89820;
}
.box_content .sidebar .sidemenu ul li a {
	color: #000;
	display: block;
}
.box_content .sidebar .sidemenu ul li {
	display: block;
	height: 15px;
	border-bottom: 1px solid #fff;
	padding: 10px 5px;
	font-weight: bold;
}
.box_content .sidebar .user .extra {
	color: #0076a3;
}
.box_content .sidebar .user {
	font-weight: bold;
}
.box_content .info {
	width: 755px;
	font-size: 14px;
	color: #0076a3;
	float: left;
	height: 400px;
	padding: 10px;
	border: 1px solid #bda9a9;
}

/*------------------------------new------------------------------------------------*/
.red_s {color: #bb1d1a;}
.blue_btn:focus {border:none;}
.blue_btn{ border:none; cursor: pointer; color: #fff;text-align: center; height: 26px; line-height: 18px\9; background-image:none; background-color: #779bca; padding:5px 7px; padding:5px\9; width:auto; white-space: nowrap; border-radius: 5px;-webkit-border-radius: 5px;
-moz-border-radius: 5px; -webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;behavior: url(PIE.htc);}
.line_submit {margin-bottom: 0}
.line_submit .blue_btn_l {margin-left: 437px;}
.offre input[type="text"] {border:1px solid #777; height: 20px; line-height: 20px; background:#fff; margin:0;}
.selection{border:1px solid #777; background: #eef9fd; height: 24px; }
.divcombo_categories select{border:1px solid #777; width:244px; height: 150px;  padding:2px; margin-left: 10px }
.offre textarea {border: 1px solid #666;}
.offre ::-webkit-file-upload-button {background: url(../images/blue_btn_l.jpg) no-repeat 0 0;border: none;cursor: pointer;height: 28px;width: 114px;color: #fff;text-align: center;padding: 3px 0 12px;}
.offre ::-ms-browse { background: url(../images/blue_btn_l.jpg) no-repeat 0 0;border: none;cursor: pointer;height: 28px;width: 114px;color: #fff;text-align: center;padding: 3px 0 12px;}

/*------------------------------my account table------------------------- */
/*.sub_menu a {padding: 0 0 0 6px; display: inline-block;background: url(../images/sub_menu_left_n.png) no-repeat top left;height: 30px; white-space: nowrap;}
.sub_menu a span {background: url(../images/sub_menu_right_n.png) no-repeat right top;padding: 0 15px 0 5px;height: 35px;display: inline-block;line-height: 25px;color: #000;font-weight: bold;}
.sub_menu a.active {background: url(../images/sub_menu_left.png) no-repeat top left;}
.sub_menu a.active span {background: url(../images/sub_menu_right.png) no-repeat right top;color: #fff;}
.sub_menu a:hover,.user_menu a:hover {color: #f89820;}*/
.sub_menu ul {padding:0;}
.sub_menu ul li{padding: 0 0 0 6px;}
.sub_menu ul li a {padding: 0 15px 0 5px}
.box_content .left_menu .title {background: url(../images/view_detail_bg.png) no-repeat #e6edf6;height: 20px;font-weight: bold;padding: 5px 15px;color: #fff;}
.box_content .left_menu .title.yellow {background: url(../images/view_detail2_bg.png) no-repeat #e6edf6;}
#header .selection {width:137px;}
#header .welcome {color: #0072bc}
#header .slogan {white-space: nowrap;}
#header p.user_menu {margin:0; white-space: nowrap;}
#sidebar {font-weight: bold;}
table.left_menu {border-collapse: collapse}
.left_menu tr {border-left: 1px solid #bda9a9;background-color: #e6edf6; border-right: 1px solid #bda9a9;}
.left_menu tr.first {border-bottom: 0}
.left_menu tr.last {border-bottom: 1px solid #bda9a9}
.left_menu td a,.left_menu_box a{color: #000;font-weight: bold; border-bottom: 1px solid #fff; display: block; padding:10px 5px;  }
.left_menu a:hover,.left_menu_box a:hover {color: #f89820; }
.blue {color: #0076a3}
.left_menu_box  {}
.left_menu_box .box_content {margin-bottom: 15px; border: 1px solid #bda9a9; background: #e6edf6; }
.info_content {border:1px solid #bda9a9; color: #0076a3;padding: 10px; font-size: 14px;}
#table_my_client { display: block; margin-bottom: 15px;border: 1px solid #bda9a9;background: #e6edf6; font-weight: bold; text-align: left; }
#table_my_client > span {color: #fff; font-size: 12px !important; display: block; padding:10px ; background: #e8ad2b !important}
#table_my_client a {border-bottom: 1px solid #fff;display: block;padding: 10px 5px;}
#table_my_client a:hover {color: #f89820;}
#table_my_client br {display: none}
#sp_upgrade_membre  {display: block; background: #fff; text-align: left;}
#sp_upgrade_membre a{color:#000; font-weight: bold}
/*------------------------------sais_ent2------------------------- */
.sais input[type="text"],.sais select.selection {width:500px; margin: 5px 0;}
.sais input[type="text"], .sais textarea {border-width:1px !important;}
.sais #layer_addition input[type="text"],.sais #layer_addition textarea {width: auto; margin-left: 5px;}
.sais .divcombo_categories select {width:300px; height: 135px}
.sais .deco a {text-decoration: underline; color:#5d7e8f }
#footer .nav ul {padding:0;}
.page_title_td {background-color:#779BCA; color:#fff;font-size: 16px;font-weight: bold; width:100%; padding-left: 10px}
.title_nobg {color:#3989C9; font-size:22px}
.td_laquo {font-size:20px; line-height:17px; padding:0 2px 0 5px;}
.td_laquo span {cursor: pointer;}
.sais #layer_addition table td {background-color: #779BCA !important; background-image: none !important;color: #4888b6;font-size: 20px;font-weight: bold;}

/*------------------------------translate------------------------- */
#translate_content .scroll-pane td a.text_1a1b,#frm_note_dtr #update4 {-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;
background: #1180C4;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1180C4), to(#1e99d5));
background: -webkit-linear-gradient(#1180C4, #1e99d5);
background: -moz-linear-gradient(#1180C4, #1e99d5);
background: -ms-linear-gradient(#1180C4, #1e99d5);
background: -o-linear-gradient(#1180C4, #1e99d5);
background: linear-gradient(#1180C4, #1e99d5);
-pie-background: linear-gradient(#1180C4, #1e99d5);
padding: 5px 10px;text-align: center;display: inline-block;
font-size: 12px;font-weight: bold;color: #fff; margin-bottom: 10px; float: right; position: static;}
#translate_content .scroll-pane > table > tbody > tr {background: url(../images/dotted.jpg) repeat-x 0 bottom}
#translate_content .scroll-pane table {width:650px; background: none !important}
#translate_content > div.data > div.box_data > div.box_left > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) {text-align: right;}
a {cursor: pointer;}
#translate_content .box_data .box_left {overflow-y:auto; overflow-x:hidden;}
#frm_note_dtr #update4 {border-style: none !important;background-color: transparent !important; float: right;}
#frm_note_dtr #note {border:1px solid #aaa !important; width:284px;}
#translate_content .box_data .box_right a {display: inline-block; margin-bottom: 10px;}
#translate_content .box_right #layer_addition table  tr {background: none!important}
#translate_content .box_data .box_right {margin-left: 20px; width:295px;}
#translate_content .box_data .box_right em {font-style: normal;}
#translate_content .box_data { overflow: hidden;}
#header tr td {white-space: nowrap;}
#footer .left a.link_1b1x, #footer .left span.nw {white-space: nowrap;}